<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 d-flex align-items-center">
                <div class="logo">
                    <h1>Time Now</h1>
                </div>
                
                {% include "include/nav.html" %}
            </div>
            <div class="col-md-4">
                <div class="profile_block d-flex align-items-center justify-content-end">
                    {% include "include/profile_info.html" %}
                </div>
            </div>
        </div>
    </div>
</div>