<div class="row">
    <div class="col-md-6">
        <h4>Projects</h4>
    </div>
    <div class="col-md-6 d-flex justify-content-end">
        <button type="button" class="btn btn-outline-dark me-3" data-bs-toggle="modal" data-bs-target="#create_project_modal">+ Add project</button>
        <div class="btn-group">
            <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Owner
            </button>
            <ul class="dropdown-menu" style="width:fit-content;">
              <li><a class="dropdown-item" href="#">Owner</a></li>
              <li><a class="dropdown-item" href="#">Editer</a></li>
              <li><a class="dropdown-item" href="#">Viewer</a></li>
          </ul>
      </div>
    </div>
</div>

{% include "include/add_project_modal.html" %}